*{
  font-family:"Impact", fantasy, sans-serif;
  font-weight: 900;
  font-size: 20px;
}


ion-title{
  background-color: #00ffb3;
  color: white;
  font-size: 25px;
}   

ion-content{
  --background: url("../Img/back5.jpg") 0 0/100% 100% no-repeat;
  
  
}

ion-list, ion-item.item{
  background: transparent;
color:white;
}

ion-button{
  width: 90%;
  margin-left: 20px;
  background-color: #e0ac08;
  border-radius: 100px;
}

span{
  color: red;
}