ion-title{
  background-color: orange;
}

ion-content{
  --background: url("../img/pato4.jpeg") 0 0/100% 100% no-repeat;
}

ion-button{
  border-radius: 10px;
  background-color: rgb(255, 123, 0);
  width: 60px;
}

#truco{
  margin-top: 30%;
  text-align: center;
  
}

#texto{
  font-size: 80px;
 
}

#texto3{
  font-size: 80px;
  margin-left: 40px;
}

#texto1{
  
  margin-top: 10%;
  font-size: 20px;
}
#texto2{
  
  margin-top: 10%;
  font-size: 20px;
  margin-left: 40px;
}

#teste1{
 margin-left: 7%;
 margin-top: 20%;
}

#teste{
  margin-left: 20%;
}

#teste2{
  margin-left: 20%;
}

#zeroa{
  margin-left: 26px;
  width: 125px;
}

#zerob{
  margin-left: 70px;
  width: 125px;
}